@page "/assets"

@if (!ShowCreateModal)
{
    <Button>a</Button>
    <EditForm Model="@NewAsset"></EditForm>
}

@code {
    
    public class NewAssetModel
    {
        
    }
    
    private bool ShowCreateModal;
    private NewAssetModel NewAsset = new NewAssetModel();
}
