@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="@(e => Load())">Load Infos</button>

<SurveyPrompt Title="How is Blazor working for you?" />

<textarea style="width: 900px;height: 300px" value="@TypesString"></textarea>
<textarea style="width: 900px;height: 300px" value="@AssemblyString"></textarea>


@code {
    public string AssemblyString { get; set; }
    public string TypesString { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Load();
    }

    public void Load()
    {
        var assemblies = AppDomain.CurrentDomain.GetAssemblies()
            .OrderBy(x => x.FullName)
            .ToArray();
        var assemblyInfos = assemblies

            .Select(x => $"{x.FullName}")
            .ToArray();

        AssemblyString = string.Join("\r\n", assemblyInfos);

        var types = typeof(RepoLiveSharpUpdateFailsWithMatBlazor.Client.Program).Assembly
            .GetExportedTypes()
            .Select(x => x.FullName)
            .OrderBy(x => x)
            .ToArray();

        TypesString = $"{DateTime.UtcNow}\r\n{string.Join("\r\n", types)}";
    }
}